<html>
    <head>
        <title><%=title%></title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
        <link rel="stylesheet"  href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%-style%>
    </head>
        <%-include('_header');%>
        <main id="layout-main">
            <%-body%>
        </main>
        <%-include('_footer');%>
        <%-script%>
</html>